html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}



.calsite-mode-light {
  color-scheme: light;
  --calcite-mode-name: light;
  --calcite-color-brand: #78451C;
  --calcite-color-brand-hover: #603716;
  --calcite-color-brand-press: #482911;
  --calcite-color-text-1: #78451C;
  --calcite-color-text-2: #78451C;
  --calcite-color-text-3: #78451C;
  --calcite-ui-text-highlight: #78451C;
  --calcite-color-text-inverse: #ffffff;
  --calcite-color-text-link: #603716;
  --calcite-link-blue-underline: rgba(120, 69, 28, 0.5);
  --calcite-color-background: #F7F7F7;
  --calcite-color-foreground-1: #FFFFFF;
  --calcite-color-foreground-2: #F2F2F2;
  --calcite-color-foreground-3: #EDEDED;
  --calcite-color-inverse: #000000;
  --calcite-color-inverse-hover: #000000;
  --calcite-color-inverse-press: #000000;
  --calcite-color-border-1: #CACACA;
  --calcite-color-border-2: #D4D4D4;
  --calcite-color-border-3: #DFDFDF;
  --calcite-color-border-input: #959595;
  --calcite-ui-icon-color: #78451C;
  --calcite-color-status-info: #603716;
  --calcite-color-status-success: #308e29;
  --calcite-color-status-warning: #f1c21b;
  --calcite-color-status-danger: #D83020;
  --calcite-color-status-danger-hover: #A82B1E;
  --calcite-color-status-danger-press: #7C1D13;
}




